* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

a, a:active, a:hover, a:visited {
    text-decoration: none;
    color : inherit;
}

body {
    height : 100vh;
    background : #3B3B98;
    font-family: 'Lato', 'Segoe UI', Tahoma, Verdana, sans-serif;
    line-height: 1.5;
    color : #fff;
    letter-spacing: 1px;
}

main {
    height : 100%;
    width : 100%;
    position: relative;
}

.generator {
    width : 350px;
    height : auto;
    background : #23235B;
    box-shadow: .1rem .1rem .5rem rgb(255, 255, 255, .35);
    color : inherit;
    position: absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    padding : 1.75rem 1.25rem;
}

.generator__title {
    text-align: center;
    font-size : 1.5rem;
    margin-bottom: .75rem;
}

.generator__output {
    width : 100%;
    height : 50px;
    margin : 1rem 0;
    position: relative;
}

.generator__output--box {
    width : 100%;
    height : 100%;
    background : #151537;
    border : none;
    color : #fff;
    font-size : 1.2rem;
    padding : 0 .5rem;
}

.generator__output--box:focus {
    outline: none;
}

.generator__output--copy {
    position: absolute;
    width : 38px;
    height : 40px;
    top : 5px;
    right : 5px;
    background : #3B3B98;
    border : none;
    cursor: pointer;
}

.generator__output--copy i {
    color : #fff;
    font-size : 1.2rem;
}

.settings {
    width : 100%;
}

.settings > .settings__option {
    padding : 5px 0;
}

.settings__option {
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#passLength {
    width : 50px;
}

.generator__button {
    margin : 1rem 0;
    width : 100%;
    height : 40px;
}

.btn {
    width : 100%;
    height : 100%;
    background : #3B3B98;
    color : #fff;
    text-align : center;
    border : none;
    font-weight: bold;
    font-size : 1.1rem;
    cursor : pointer;
}
